.side-navbar {
  width: 150px;
  position: fixed;
  height: 100vh;
  background: #5e6e73;
  padding-top: 20px; 
}

.nav-item .nav-link {
  color: white; 
}

.nav-link.active {
  font-weight: bold;
  background-color: #A4A4A4;
}


